# STM32CubeIDE specific
Debug/
Release/
*.mxproject
*.launch
.settings/
.externalToolBuilders/
.autosave
*.stackusage

# Compiled Object files
*.o
*.d
*.elf
*.map
*.hex
*.bin
*.lss

# Backup files
*.bak
*~

# Other files
*.log
*.tlog
*.lo
*.dep
*.i
*.ii
*.s
*.su
*.dSYM/
*.d
*.pdb
*.idb
*.tmp

# Exclude the build directory
build/

# Exclude temporary files created by editors
*.swp
*.*~
*.lock
*.DS_Store
._*
Thumbs.db
